@import './base.css';

#app {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: clamp(0.75rem, 2vw, 2rem);
  font-weight: normal;
}

a {
  color: inherit;
}

@media (min-width: 1024px) {
  #app {
    padding: clamp(1rem, 2vw, 2rem);
  }
}
